div
  nav.block.block-menu.navigation.menu--main(
    role="navigation", 
    aria-labelledby="block-galvenaizvelne-2-menu",
    id="block-galvenaizvelne-2")
    h2.visually-hidden(id="block-galvenaizvelne-2-menu") Galvenā izvēlne
    .content
      ul.menu.menu-level--0
        li
          a.nav-link(routerLink="/cons" routerLinkActive="active") Konsultācijas
        li
          a.nav-link(routerLink="/events" routerLinkActive="active") Notikumi
      .clearfix