footer.site-footer
  .layout-container  
    div
      nav.block.block-menu.navigationmenu--main(role="navigation" aria-labelledby="block-galvenaizvelne-3-menu" id="block-galvenaizvelne-3")
        h2.visually-hidden(id="block-galvenaizvelne-3-menu")
          |Galvenā izvēlne
        .content
          ul.menu.menu-level--0
            li
              a(href="http://www.llu.lv/lv/studijas" target="" data-drupal-link-system-path="node/309")
                |Studijas
              ul.menu.menu-level--1
                li
                  a(href="http://www.llu.lv/lv/fakultates" target="" data-drupal-link-system-path="node/1327")
                    |Fakultātes                
                li
                  a.dataSortTables(href="http://www.llu.lv/lv/studiju-programmas" target="" data-drupal-link-system-path="studiju-programmas")
                    |Studiju programmas                
                li
                  a(href="http://www.llu.lv/lv/studiju-iespejas" data-drupal-link-system-path="node/318")
                    |Studiju iespējas                
                li
                  a(href="http://www.llu.lv/lv/valodu-centrs" target="" data-drupal-link-system-path="node/1574")
                    |Valodu centrs                
                li
                  a(href="http://www.llu.lv/lv/nodarbibu-grafiki" data-drupal-link-system-path="node/329")
                    |Nodarbību grafiki
                li
                  a(href="http://www.llu.lv/stipendijas")
                    |Stipendijas         
                li
                  a(href="http://www.llu.lv/lv/studiju-finansejums" data-drupal-link-system-path="node/607")
                    |Studiju finansējums                
                li
                  a(href="http://www.llu.lv/lv/studiju-prakses" data-drupal-link-system-path="node/1568")
                    |Studiju prakses                
                li
                  a(href="http://www.llu.lv/lv/llu-informativa-sistema" data-drupal-link-system-path="node/1414")
                    |LLU Informatīvā sistēma                
                li
                  a(href="http://www.llu.lv/lv/studiju-un-reglamentejosie-dokumenti" target="" 
                    data-drupal-link-system-path="node/325")
                    |Studiju dokumenti un veidlapas
                li
                  a(href="http://www.llu.lv/lv/starptautiska-mobilitate" data-drupal-link-system-path="node/324")
                    |Starptautiskā mobilitāte    
                li
                  a(href="http://www.llu.lv/lv/registracija-studijam" data-drupal-link-system-path="node/1840")
                    |Reģistrācija studijām