footer.site-footer
  .footer-bottom
    .col-4
    .col-4
      div
        .views-element-container(id="block-views-block-copyright-block-1")
          span.field-content
            p.text-align-center
              |2018 © VolskSoft
    .col-4.social-media
    .clearfix