footer.site-footer
  .layout-container  
    div
      nav.block.block-menu.navigationmenu--main(role="navigation" aria-labelledby="block-galvenaizvelne-3-menu" id="block-galvenaizvelne-3")
        h2.visually-hidden(id="block-galvenaizvelne-3-menu")
          |Galvenā izvēlne