header.header(id="header" role="banner" aria-label="Site header")
    .section.layout-container.clearfix
        .secondaryMenu
            .secondaryMenu__container
                div
                    //- This will be enabled later with multi lang support
                    //- .language-switcher-language-url(id="block-valoduparsledzejs" role="navigation")
                    //-     ul.language-selector
                    //-         li.en(hreflang="en" data-drupal-link-system-path="<front>")
                    //-             a.language-link(href="http://www.llu.lv/en" hreflang="en" data-drupal-link-system-path="<front>")
                    //-                 |EN
                    //-         li.lv.is-active(hreflang="lv" data-drupal-link-system-path="<front>")
                    //-             a.language-link.is-active(href="http://www.llu.lv/lv" hreflang="lv" data-drupal-link-system-path="<front>")
                    //-                 |LV
                    nav.block.block-menu.navigation.menu--secondary-menu(role="navigation" aria-labelledby="block-secondarymenu-menu" id="block-secondarymenu")
                        h2.visually-hidden(id="block-secondarymenu-menu") Secondary menu
                        .content
                            ul
                                li
                                    a(href="#" target="_blank" rel="nofollow")
                                        |Lietotājs
                                        span
                                        span.element-invisible
                                li
                                    a(href="#" target="_blank" rel="nofollow")
                                        |Iziet
                                        span
                                        span.element-invisible
                            .clearfix
                        .content
                            ul
                                li
                                    a(href="#" target="_blank" rel="nofollow")
                                        |Students
                                        span
                                        span.element-invisible
                                li
                                    a(href="#" target="_blank" rel="nofollow")
                                        |Admins
                                        span
                                        span.element-invisible
                            .clearfix
        .main-header-content
            div
                .site-branding(id="block-sitebranding")
                    a.site-branding__logo([routerLink]="['']" title="Sākums" rel="home")
                        img(src="http://www.llu.lv/themes/custom/LLU/lv_logo.svg" alt="Sākums")
            auctor-nav

