header.navbar.navbar-fixed-top(role="banner")
.frontSubnav
    .frontSubnav-wrapper
        nav.navbar-inner(role="navigation")
            .container-fluid
                a.brand(href="https://estudijas.llu.lv")
                    img(src="https://estudijas.llu.lv/theme/image.php/llunew/theme/1512522657/social/home-icon")
                .usermenu
                    .moodle-actionmenu.nowrap-items(id="action-menu-0", data-enhance="moodle-core-actionmenu", data-enhanced="1")
                ul.menubar(id="action-menu-0-menubar", role="menubar")
                    li(role="presentation")
                        a.toggle-display.textmenu(href="#", id="action-menu-toggle-0", title="", role="menuitem", aria-haspopup="true")
                            span.userbutton
                                span.usertext
                                    | Imants Volkovs
                                    span.avatars
                                        span.avatar.current
                                            img.userpicture(src="https://estudijas.llu.lv/pluginfile.php/39622/user/icon/llunew/f2?rev=2317501", alt="Picture of Imants Volkovs", title="Picture of Imants Volkovs", width="35", height="35", role="presentation")
                                            b.caret
