main.column.main-content.custom-article(id="content" role="main")
  section.section
    .block-mainpagecontent
      article(role="article")
        div
          div(property="schema:text")
            div(id="submenu--main", style="margin-top: 30px;")
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Lauksaimniecības fakultāte
                  .faculty-img-block.submen_image(style="background-image:url(http://www.llu.lv/sites/default/files/files/lapas/img_lf.gif);")
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Meža fakultāte
                  .faculty-img-block.submen_image(style="background-image:url(http://www.llu.lv/sites/default/files/files/lapas/img_lf.gif);")
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Veterinārmedicīnas fakultāte
                  .faculty-img-block.submen_image(style="background-image:url(http://www.llu.lv/sites/default/files/files/lapas/img_lf.gif);")
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Tehniskā universitāte
                  .faculty-img-block.submen_image(style="background-image:url(http://www.llu.lv/sites/default/files/files/lapas/img_lf.gif);")
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Pārtikas tehnoloģiju fakultāte
                  .faculty-img-block.submen_image(style="background-image:url(http://www.llu.lv/sites/default/files/files/lapas/img_lf.gif);")
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Vides un būvzinātņu fakultāte
                  .faculty-img-block.submen_image(style="background-image:url(http://www.llu.lv/sites/default/files/files/lapas/img_lf.gif);")
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Informācijas tehnoloģiju fakultāte
                  .faculty-img-block.submen_image(style="background-image:url(http://www.llu.lv/sites/default/files/files/lapas/img_lf.gif);")
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Ekonomikas un sabiedrības attīstības fakultāte
                  .faculty-img-block.submen_image(style="background-image:url(http://www.llu.lv/sites/default/files/files/lapas/img_lf.gif);")
                    |&nbsp;
.column.sidebar
