main.column.main-content.custom-article(id="content" role="main")
  section.section
    .block-mainpagecontent
      article(role="article")
        div
          div(property="schema:text")
            div(id="submenu--main", style="margin-top: 30px;")
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Lauksaimniecības fakultāte
                  .faculty.lf.faculty-img-block.submen_images
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Meža fakultāte
                  .faculty.mf.faculty-img-block.submen_image
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Veterinārmedicīnas fakultāte
                  .faculty.vmf.faculty-img-block.submen_image
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Tehniskā universitāte
                  .faculty.tf.faculty-img-block.submen_image
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Pārtikas tehnoloģiju fakultāte
                  .faculty.ptf.faculty-img-block.submen_image
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Vides un būvzinātņu fakultāte
                  .faculty.lif.faculty-img-block.submen_image
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Informācijas tehnoloģiju fakultāte
                  .faculty.itf.faculty-img-block.submen_image
                    |&nbsp;
              .custom--submenu--block
                a(href="/")
                  span.submenu_title Ekonomikas un sabiedrības attīstības fakultāte
                  .faculty.esaf.faculty-img-block.submen_image
                    |&nbsp;
.column.sidebar
