.panel.panel.panel-default
  .panel-heading add-event
  .panel-body
    .row
      .col-lg-2
        button.form-control.btn-success
          a(routerLink="/events/list") back-to-list
    hr
    .row
      .col-lg-1
        label event-name
      .col-lg-5
        input.form-control(type="text", [(ngModel)]="model.name")
    hr
    .row
      .col-lg-1
        label course
      .col-lg-3
        v-select(                    
          [items]='courses',
          [default-value]="courseDefaultValue",
          [init-selected-item]="selectedCourse",
          [display-member]="'name'",
          [value-member]="'id'",
          (selected)="setCourse($event)")      
      .col-lg-1
        label value-in-minutes
      .col-lg-3
        input.form-control(type="number", placeholder="value-in-minutes", [(ngModel)]="model.value")
      .col-lg-1
        label need-lecturer
      .col-lg-3
        input.form-control(type="checkbox", [(ngModel)]="model.needLecturer")
    hr
    .row
      .col-lg-1
        label valid-from
      .col-lg-3
        ngx-datepicker([(ngModel)]="model.validFrom")
      .col-lg-1
        label valid-till
      .col-lg-3
        ngx-datepicker([(ngModel)]="model.validTill")
    hr
    .row
      .col-lg-2
        button.form-control.btn-success((click)="save()")
          |save



