.panel.panel.panel-default
  .panel-heading
    h2 Konsultāciju saraksts
  .panel-body
    .coursebox.clearfix.odd(*ngFor="let con of cons")
      .row
        .col-lg-3.info
          h3.coursename
            |{{con.date | date:'dd-MM-yyyy'}}
        .col-lg-5.info
          h3.coursename
            |{{con.scholar.degree}} {{con.scholar.name}} {{con.scholar.surname}}
        .col-lg-3.content
          button.form-control.btn-success([routerLink]="['/cons/apply/', con.id]") Pieteikties