.row
  .col-lg-2
    h1 Konsultāciju saraksts
hr
.row
  .col-lg-2
    button.form-control.btn-success
      a([routerLink]="['add']") Pievienot
  //- add filter by date and show by default this week
br
.panel.panel.panel-default
  .panel-heading
    .row
      .col-lg-2 Datums
      .col-lg-2 Norises laiks
      .col-lg-1 Kabinets
      .col-lg-1 Maks. dalībnieku skaits
      .col-lg-6 &nbsp;
  .panel-body
    .row.g-row(*ngFor="let con of cons; let last = last; let first = first",
              [ngClass]="{'last': last, 'first': first}")
      .col-lg-2 {{con?.date | date: 'dd-MM-yyyy'}}
      .col-lg-2 {{con?.startTime}} - {{con?.endTime}}
      .col-lg-1 {{con?.roomName}}
      .col-lg-1 {{con?.capacity}}
      .col-lg-4 &nbsp;
      .col-lg-2
        button.form-control.btn-success
          a([routerLink]="['edit', con.id]") Labot

