.panel.panel.panel-default
  .panel-heading
    .row      
      .col-lg-3 date
      .col-lg-2 start-time
      .col-lg-2 end-time
      .col-lg-1 room      
  .panel-body
     .row(*ngFor="let con of cons")
      .col-lg-3 {{con?.date}}
      .col-lg-3 {{con?.startTime}}
      .col-lg-3 {{con?.endTime}}
      .col-lg-3 {{con?.room}}
