button
  a(routerLink="/consulations/add") add-con
hr
h1 con-list
br
.panel.panel.panel-default
  .panel-heading
    .row      
      .col-lg-3 date
      .col-lg-2 start-time
      .col-lg-2 end-time
      .col-lg-1 room      
  .panel-body
    .row 
     .row(*ngFor="let con of cons")
      .col-lg-3 {{con?.date | date: 'dd-MM-yyyy'}}
      .col-lg-2 {{con?.startTime}}
      .col-lg-2 {{con?.endTime}}
      .col-lg-1 {{con?.roomName}}
      .col-lg-1
        button
          a(routerLink="/consulations/edit/{{con.id}}") edit-con
