.overlay-container
    .overlay.light-gray(*ngIf="false")
        i.fa.fa-spinner.fa-spin.fa-10.top-middle
    .ecmt-page-wrapper
        .ecmt-page
            auctor-header            
            main.ecmt-page
                router-outlet 
            auctor-footer         



