input[type="radio"], input[type="checkbox"] {
  width: 17px;
  height: 17px;
}
@import './buttons';
@import './grid';

.faculty.itf {
  background-image: url('../images/img_itf.gif');
}
.faculty.lif {
  background-image: url('../images/img_lif.gif');
}
.faculty.mf {
  background-image: url('../images/img_mf.gif');
}
.faculty.ptf {
  background-image: url('../images/img_ptf.gif');
}
.faculty.tf {
  background-image: url('../images/img_tf.gif');
}
.faculty.vmf {
  background-image: url('../images/img_vmf.gif');
}
.faculty.esaf {
  background-image: url('../images/img_esaf.gif');
}
.faculty.lf {
  background-image: url('../images/img_lf.gif');
}